{% extends 'base.html.twig' %}

{% block title %}Hello MyFormController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Task #1</h1>
        <h2>Time processor</h2>
    </div>
    <div class="form">
        {{ form(form) }}
    </div>

{% endblock %}